html{
    box-sizing: border-box;
    line-height: 1.5;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

.main-title{
    font-size: 60px;
    text-align: center;
    font-weight: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 60px 0;
}

.second-title {
    font-weight: normal;
    font-style: italic;
    font-size:30px;
    margin: 15px 0;
    text-align: center;
}

.row{
    display: flex;
}

[class*='col-']{
    border:1px solid #333;
    padding: 1%;
    align-items: stretch;
}

.col-1-4{
    flex: 0 0 25%;

}

.col-2-3{
    flex: 0 0 75%;
}

ul{
    flex-direction: column;

}
.nav-item{
    width: 100%;
    flex: 1;
}

img{
    width: 100%;
}
p{
    font-size: 18px;
}
li:nth-child(1){
    background-color:#ffeaa7;
}

li:nth-child(2){
    background-color:#81ecec;

}
li:nth-child(3){
    background-color:#55efc4;
    
}
li:nth-child(4){
    background-color:#74b9ff;
    
}
li:nth-child(5){
    background-color:#a29bfe;
    
}
